@media (min-width:657px) and (max-width:1023px){
    

    .socialMedia{
        /* position:relative; */
        grid-column: 1/ span 100;
        
        transform: translate(0%,0%);
        background-image: url("../en pic/En Tablet - top bg social media and lang.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width:100%;
        /* height: 12vh; */
    
        z-index: 4;

            /* Center the ul within this div */
        display: flex;
        /* align-items: center;  */
        justify-content: center;
        /* margin-bottom: 80px; */
        padding-bottom: 5%;
    }
    .socialMedia ul{
        display: flex;
        transform: translateY(11%);

        justify-content: center;
        width: 45%;

        

}
.socialMedia img{
    transform: translateY(-10%);
    width:2.5vw;
}

.lang{
    grid-column: 87/span 100;
    grid-row: 1;
    /* color: black; */
    display: flex;
    align-items: center;
    transform: translate(60%, -14%);
    /* padding-right: -100px; */
    margin-right: 110px;

}
.lang ul{
    flex-direction: column;
    /* color: black; */
    gap:5px;


}
.lang li:nth-child(1){
    font-size: 1.6vw; 
    font-weight: bold;

}


.lang li:nth-child(2) {

    font-size: 1.5vw; 


} 
.lang_text{
    color: black;

}

.bgTopHeader{
    grid-column: 1 /span 100;
    grid-row:2;
    background-color:black;
    /* margin:0;
    padding: 0; */
    z-index:0;
    /* height: 10.5vh; */
    /* transform: translateY(-15px); */
    /* width:100%; */
    /* margin-bottom: 70px; */


}


.addresses {
    grid-column: 7/ span 100;
    grid-row: 2;
    /* height: 1px; */
    z-index: 20;
    /* top:-35%; */
    height: 0vh;
    padding-bottom: 35px;
    transform: translateX(-.5vw);
    /* position:sticky; */
    transform: translateY(-40%);
    /* margin-top: auto;
    margin-bottom: auto;     */
    width:122%;

}

.icon_address  {
    width: 6vw; /* Adjust icon size */

}
.addresses ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    /* by chrome */
    /* margin-left: -6.5%; 
    margin-right: -1.6%; */
/* by mozilla and chrome */
    margin-left: -3.5%; 
    margin-right: -1.6%;

}
.item {
    /* transform: translateY(); */
    display: flex;
    align-items: center;
    align-self: center;
    gap: 4px;
    /* margin-bottom: 30px; */
    /* margin-left: auto;
    margin-right: auto; */


}
.addresses_text {
    /* font-family: 'AddressFont', sans-serif; */
    font-size: 1.9vw;
    /* color: white;   */
}
.item:nth-child(1){
    flex-basis: 60%;
}
.item:nth-child(2){
    flex-basis: 00%;
}
.item:nth-child(3){
    flex-basis: 85%;
}

/* ------- logo ------ */
/* .logo{
    grid-column: 14/ span 10;
    grid-row: 3;
    width:100%;

    z-index: 10;
    display: flex;


} */

.logo_photo_class_tabMo{
    display: flex;
    width:16vw;
    height: 32vh;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    background-image: url("../../icon/logo_dark_export.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    animation: logoAnimation 7s forwards ease-in-out;
    animation-iteration-count: 1; /* Play only once */

}
.hamburger_Menu_tabMo{
    /* grid-column: 48/ span 4; */
    /* grid-row: 3; */
    
    /* display: inline-block; */
    /* display: flex; */
    list-style: none;
    /* position: fixed; */
    border: none; /* Remove the default border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Display a pointer cursor on hover */
    outline: none; /* Remove outline when focused */
    /* background-color: none; */
    /* background-image: url("../../icon/Humburger Menu.svg"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3%;
    height: 10vh;
    /* background-color: rgb(78, 69, 69); */
    /* color:rgb(255, 215, 0); */
    z-index: 100;
    font-size: 5vw;
}

.title_tabMo{

    /* grid-column: 72/ span 15; */
    /* grid-row: 3; */
    font-size: 210%;
/* -- just for tabMo -- */


font-family: 'davudtech_font', sans-serif; 
color:black;
text-shadow: 
0px 0px 15px rgb(255, 215, 0), /* Top-left outline */
0px 0px 15px rgb(255, 215, 0),  /* Top-right outline */
0px 0px 0px rgb(255, 215, 0),  /* Bottom-left outline */
0px 0px 0px rgb(255, 215, 0);   /* Bottom-right outline */
opacity: 0;

animation: titleAnimation 3s forwards ease-in-out;
animation-iteration-count: 1; /* Play only once */
/* animation-delay: 1s; */

}





/* --- hero part --- */
.hero{
    margin-top: 40%;
    width:100%;



}
.bgImageToAllHero {
    height: 197vh;
}


/* .bgImageToAllHero{
        height: 100vh !important;
        top:0;
        bottom:0;
        background-size: 140% !important; 
        background-position: -330px -160px !important;
}
.fullScreenTransparent{
    margin-left: -30%; */
    /* padding-left: 35%;
 } */




.welcome{
    grid-column: 18/span 20 ;

    grid-row:2;
    margin-top: 20%;
    gap:7px;
}
.dash{
    font-size: 5vw;
    transform: translateY(-50%);


}
.welcomText{
    font-size: 3vw;


}
.slogan{
    grid-column: 15/span 23 ;
    font-size:5.5vw;
    grid-row:3/span 4;



}
.heroDetails{
    margin-top: 3.5%;
    grid-column: 17/span 20 ;
    grid-row:8/ span 3;
    /* font-size: 3vw; */
}
/* ---- portfolio ---- */

.portfolioIntro span:nth-child(2){
    font-size: 2.5vw;
}
.portfolioSlogan{
    font-size: 3.4vw;

}
/* --------- about ---------- */





.aboutImage{
    grid-column: 6/span 25;
    grid-row: 1/span 6;
    margin-bottom: 30px;
        background-size: 100%;
        min-height: 48vh;
    /* width: 98vw; */
    /* min-height: 80vh; */
    background-position: center;

}
.yearsWork span:nth-child(1),.successRate  span:nth-child(1),.satisfiedClients  span:nth-child(1){
    font-size: 2vw;
}

.yearsWork span:nth-child(2),.successRate  span:nth-child(2),.satisfiedClients  span:nth-child(2){
    font-size: 2vw;
}
/* - about animation -  */
@keyframes yearsWorkExAnim{
    0% {
        width: 7.3vw;
    }

    100% {
        width: 37vw;

    }
}
@keyframes successRateAnim{

    0% {
        width: 7.3vw;
    }


    100% {
        width: 35vw;


    }
}
    @keyframes satisfiedClientsAnim{
    0% {
        width: 7.3vw;

    }    


    100% {
        width: 33vw;

    }
}


.aboutCompany{
grid-column: 22/span 25;
grid-row: 7;
display: flex;

justify-content: left !important;
}

.aboutCompany span:nth-child(1){
    text-align: left;
    justify-content: left;

    /* color: rgb(255, 215, 0); */
    transform: translateY(-20%);
    font-size: 2.5vw;
}
.aboutCompany span:nth-child(2){

    /* color: rgb(255, 215, 0); */
    transform: translateY(-50%);
    /* font-size: 3vw; */
}



.aboutSlogan{
    grid-column: 6/span 25; ;
    grid-row: 8;
    font-size: 4vw;
    display:flex;
    text-align: right !important;
}

.aboutDetails{
    grid-column: 6/span 25;;
    grid-row: 9;
    display:flex;
    /* justify-content: justify !important; */
    /* text-align: justify !important; */

}


.aboutPros{
    grid-column: 1/span 13!important;
    grid-row: 12!important; 
    margin-bottom: 30px;
    display: flex;

}

.aboutEmergency{
    grid-column: 19/span 12 !important;
    grid-row: 12 ;
    /* text-align: right !important; */
    text-align: right !important;
    justify-content: right !important;}




.aboutEmergency span:nth-child(2){
    /* font-family: AddressFont; */
    font-size: 2.3vw;
}


.aboutExperties, .aboutAccurate , .aboutQuality{

    text-align: right !important;
    justify-content: right !important;
}





/* --- product --- */

.productIntro{
    grid-column: 33/ span 35;
    grid-row:1;
}
.productIntro span:nth-child(1){
    transform: translateY(-2px);
    font-size: 20px;
 }
 .productIntro.visible{
    display: flex;
    justify-content: left !important;
    /* text-align: left !important; */
 }
.productTitle{
    grid-column: 29/ span 35;
    grid-row: 2;
    text-align: right;
    /* font-size: 4vw; */
    }
    .productDetails{
        grid-column: 4/ span 34;
        grid-row:3;
        /* font-size: 2.5vw; */
    }

.productTitle.visible{
    display: flex;
    justify-content: left !important;
}
.productDetails.visible{
    display: flex;
    /* justify-content:ju !important; */
    /* text-align: justify !important; */

}
    .productsPhotos{
        grid-column: 4/ span 34;
        grid-row:4/span 9;
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    /* width: 90%; */
    }

/* ---- footer ---- */
.contactText{
    text-align: left !important;
    grid-column: 33/span 7;
}
.footerAddresses,.phoneNumIconText,.emailIconText{
    justify-content: right !important;
    /* align-items: left; */
    text-align: right !important;

}
.footerAddresses{
    grid-column: 7/span 30;
}
.phoneNumText,.locationText,.emailText{
    font-size: 2.2vw !important;
    margin-left: 20px!important;
}


.locationIcon{
    width: 2vw !important;
}
.phoneNumIcon,.emailIcon{
    width: 2.4vw !important;
}
.emailIcon{
    width: 3vw !important;
}

.footerSocial{
    grid-column: 4 / span 4 !important;
    /* gap:4vw !important; */
    display: flex;
    /* justify-content:left ip !important; */
    transform: translateX(0%);
}

.footerSocial img{
    width:2vw;
    
}
.footerLang{
    grid-row: 7 !important;
    font-size: 2vw;
}
.myAddress{
    grid-column: 28/span 10!important;
    grid-row: 7 !important;
    font-size: 1.7vw;

}
/* - changing group of titles font sections - */
.aboutCompany span:nth-child(2), .productIntro span:nth-child(2),.contactText
    {
        font-size:3vw;

}
/* - changing group of slogan font sections - */

.aboutSlogan,.productTitle{
    
    font-size:4vw;

}




.container_bgMenu_tabMo {
    visibility:visible;
    opacity: 1;
    /* position: -webkit-sticky; */
    grid-column: 1 /span 100;
    grid-row: 3;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    /* transform: translate(0%,-7%); */

    z-index: 15;
    
    height: 29vh; 
    background-image: url("../en pic/En Tablet - bg logo, menu and title.svg");
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 


}
/* Each child element taking 1/3 width */
.logo_tabMo, .hamburger_Menu_tabMo, .title_tabMo {
    visibility: visible;
    opacity: 1;
     /* display:flex; */

    flex: 1; /* Ensures each element takes an equal width (1/3) */
    display: flex; /* Center content within each flex child */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    align-self: center;
    transform: translate(0%,0%);
}


/*  */

/* - menu part-  */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.menuMT{
    position: fixed;
    top: 0;
    left: -60%; /* Initially off-screen to the left */
    width: 25%; /* Adjust width for 1/3 of screen if desired */
    height: 100%;
    background-color: #111;
    color: white;
    padding-top: -20px;
    transition: left 0.3s ease; /* Slide-in transition */
    z-index: 1000;

    /*  mine*/
    background-image: none;

    transform: translate(0,0);


}
.menuMT ul{
    transform: translate(0,0);
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    /* mine */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    gap:30px;


}

/* .menu ul li:nth-child(1) {
    visibility: visible;
    opacity: 1;
} */

.menu_textBtn {
    visibility: visible;
    opacity: 1;

    font-size: 30px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    gap:80%;
    margin-left: 80%;
    margin-bottom: 100%;
}
.menu ul li:nth-child(1){
    font-size: 5vw;
    /* background-color: blue;  */
}
.menu_text{
    /* background-color: red; */
    /* font-size: 18px; */
    color: white;
    /* display: block; */
    padding: 15px;
    text-decoration: none;
    font-size: 4vw;
}
/* -- text sizes -- */
/* small text */
.heroDetails p,.aboutDetails p,.productDetails.visible p{
    font-size: 3vw;
    /* line-height: 1.2; */
    text-align: right;
}



/* <!-- -- visibility---->

<---tablet and mobile setting for menu -- --> */
/* Parent container */
/* Parent container */
.title,.hamburger_Menu,.logo,.menu{
    opacity:0;
    visibility: hidden;
    display: none;

}

.aboutDash,.productDash,.yearsWork , .successRate , .satisfiedClients{
    opacity: 1 !important;;
    visibility: visible !important;
    display: flex !important;
}




}






/* ==== devices responsive ==== */
     @media (orientation: portrait) and (width: 915px) and (height: 1792px){

        .lang{
            margin-top: 0%;
    
        }

        .socialMedia ul{
            gap:20%;
        }
        .socialMedia img{
            transform: translateY(8px);
            width:3vw;
        }
        .bgTopHeader{
            margin-bottom: 170px !important;
        }
    
       .addresses{
        display: unset;
        margin-top: -5px!important;
       }
       
        .container_bgMenu_tabMo {
            height: 13vh!important;
            margin-top: -13vw!important;
            gap:6vw;
        }
       
        .logo_photo_class_tabMo{
            height: 12vh;
            width: 20vw;
        } 
        .bgImageToAllHero {
        height: 85vh!important;
        }
    
       /* --- hero ---- */
       .hero{
        margin-top: -9vh;
       }
       .bgImageToAllHero{
        background-position: 88% 26vh !important;
        background-size: 167% !important;
       }
       .welcome {
        margin-top: 52%;
        gap:7px;
       }
    
    .slogan{
        grid-column: 9 / span 26;
        font-size: 7.5vw;
    }
    .welcome,.slogan{
        transform: translateY(17vw);
    }
    .heroDetails{
        grid-column: 10 / span 28;
        transform: translateY(0vh);
        line-height: 1.2;
        /* font-size: 4vw; */
    }
    
       /* about */
       .about {
        margin-top: -12%;
       }
       .aboutImage{
        margin-top: 9vh;
        min-height: 28vh;
       }
       /* .yearsWork, .successRate, .satisfiedClients{

       } */

       .yearsWork_mobile span:nth-child(1){
        transform: translate(-15%,-20px)rotate(310deg);
        font-size: 3.5vw;
    }
       /* --- portfolio --- */
       .bullet {
        width: 15px;
        height: 15px;
        margin:0 11px;
        
        }
        .bullet-container{
            margin-bottom: 3%;
            margin-right: 6%;
        }
        /* products  */
        .firstPhoto,.secondPhoto,.thirdPhoto {
            min-height: 22vh
        }

        .photoShape{
            bottom: 6%;
            left: 6%;
        }
        /*  */

        /* move upper */
        .moveUpper{
            right: -219px;
        }
        
        .moveUpper img {
            width: 19%;
        }
     }
     /* ====================================================== */
/* set by width generally for all range sizes */
@media  (min-width: 657px) and (max-width: 800px){
    /* header */
    .addresses{
        margin-left: -9px;
    }
    .container_bgMenu_tabMo{
        height:26vh;
    } 
    /* hero */
    .bgImageToAllHero{
        height: 72vh!important;
        background-position: -6vw -7.5vh!important;
        background-size: 173%!important;

    }
    .aboutImage{
        min-height: 37vh;
    }
}

@media  (min-width: 801px) and (max-width: 915px){
    /* header */
    .addresses{
        margin-left: -5px;
    }
    .container_bgMenu_tabMo{
        height:29vh;
    } 
    /* hero */
    .bgImageToAllHero{
        height: 96vh!important;
        background-position: -6vw -8.5vh!important;
        background-size: 173%!important;

    }
    /* about */
    .aboutImage{
        min-height:27vh;

    }
}
@media  (min-width: 916px) and (max-width: 1024px){
    /* header */
    .addresses{
        margin-left: 5px;
    }
    .container_bgMenu_tabMo{
        height:15vh;
    } 
    /* hero */
    .bgImageToAllHero{
        height: 81vh!important;
        background-position: -84vw -1.5vh!important;
        background-size: 192%!important;

    }
    /* about */
    .aboutImage{
        min-height:31vh;

    }
}