@media (orientation: landscape) and (width: 1792px) and (height: 915px) {

        /* about */
        .aboutImage{
            height: 70vh !important;
        }
        .aboutDash{
            transform: translateY(-33px)!important;
        }
        /* portfolio */
        .slideshow-container{
            margin-bottom: 0px;
            height:110h;
        }
        .slides {
            width: 18px;
    
        }
        .slide {
            width: 19vw!important;
            margin-top: 25vw !important;
        }
        .bullet-container{
            margin-top: -50px;
    
    
        }
        .bullet {
           margin: 71px 21px;
           transform: translateX(-36px);
           width: 20px;
           height: 20px;
        }
}