/* ------ footer ------ */
.footer{
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: auto;
    width:100%;
}

.contactText{
    /* display:flex; */
    grid-column: 35/span2;
    grid-row:1;
    color:rgb(255, 215, 0);
    font-family:sloganFont;
    ;
    font-size:1.7vw;
}

.footerAddresses{
    display: flex; 
    flex-direction: column;
    
    grid-column: 7/ span 30;
    margin-top: 30px; 
    

}
.footerAddresses a{
    margin-top: 10px;
}

/* - location part -  */
.footerIconText a{
    display: flex;
    flex-direction: row;
}

.locationIconText:nth-child(1){
    grid-row:4;

    
}
.locationIconText:nth-child(2){
    grid-row:4;

}
.locationIcon{
    width: 20px;
}
.locationText{
    font-family:AddressFont ;  
    font-size: 20px; 
    margin-left: 15px; 
}

/* - phone part -  */

.phoneNumIconText{
    display: flex;
    flex-direction: row;
    /* grid-row:5; */

}
.phoneNumIconText:nth-child(1){
    grid-row:5;

}
.phoneNumIconText:nth-child(2){
    grid-row:5;

}
.phoneNumIcon{
    /* display: flex; */
    width: 20px;
}
.phoneNumText{
    font-family:AddressFont ;  
    font-size: 20px; 
    margin-left: 15px;
}






/* - email part -  */
.emailIconText{
    display: flex;
    flex-direction: row;
}

.emailIconText:nth-child(1){
    display: flex;

    grid-row:5;
}
.emailIconText:nth-child(2){
    display: flex;
    grid-row:5;
}
.emailIcon{
    width: 25px;
}
.emailText{
    font-family:AddressFont ;  
    font-size: 20px; 
    margin-left: 15px;
}
/* - divider in middle of footer for space -  */
.dividerFooterBetween{
    display:flex;
    grid-column: 7/span 2;
    grid-row: 6;
    flex-direction: row;
    margin-left:10px ;
    margin-top: 11.7vh;
    margin-bottom: 2vh;
}
/* ----social network---- */
.footerSocial{
    display:flex;
    grid-column: 7/span 4;
    grid-row: 7;
    flex-direction: row;
    gap:20px;
    align-items: center;
    transform: translateX(-75%);

}
.footerSocial img{
    width:1.5vw;
    
}
.footerLang{
    display: flex;
    grid-column: 20/span 4;
    grid-row: 7;
    flex-direction: row;
    color:white;
    font-family:normal_font_bold ;
    font-size: 1.1vw;
    gap:8px;
    align-items: center;
    margin-bottom: 5px;
}
.footerLang span:nth-child(3){
    text-decoration: underline;
    font-family:normal_font_bold_2 ;
    font-size: 130%;
}
.myAddress{
    display: flex;
    grid-column: 32/span 8;
    grid-row: 7;
    flex-direction: row;
    color:white;
    font-family:normal_font ;
    font-size: 1vw;
    gap:4px;
}

 /* - last line blank for footer -  */
.last_line{
    display:flex;
    grid-column: 1/span 40;
    grid-row: 8;
    flex-direction: row;
    margin-bottom: 7vh;
}



/* @media(max-width:666px){

.locationIcon{
    width: 15px;
}
.phoneNumIcon,.emailIcon{
width: 17px;
}


.locationText, .phoneNumText, .emailText{
    font-size: 18px;

}
} */